{% extends 'base.html' %}
{% load static %}

{% block title %} | About{% endblock %}

{% block content %}
<!-- Breadcrumb -->
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About CBC Global</h1>
          <p class="lead">A Professional and Reliable Partner for Infrastructure Development</p>
        </div>
      </div>
    </div>
</section>

<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>A Professional and Reliable Partner for Infrastructure Development
            </h2>
          <p class="lead">CBC GLOBAL CIVIL & BUILDING CONSTRUCTION NIG LTD is a company specializing in construction and development of building and civil engineering infrastructure. It was founded in 2015 by a group of entrepreneurs, project
            managers and engineers from China with rich international engineering management experience. CBC GLOBAL is a dazzling star in the Nigerian construction market. Implementing the business philosophy of "Integrity, teamwork, excellence, efficiency", the company quickly won the recognition of the market.</p>
          <img src="{% static 'img/about.png' %}" alt="">
          <p class="mt-4">Even though Nigeria is experiencing sluggish economic downturn these years, where the construction market is shrinking dramatically, the company has still gained a bunch of projects with contract sum over 100 Billion Naira (280 Million US Dollar), surpassing its competitors at all levels including the federal ministries, state governments, and private sectors. All the completed and ongoing projects have won the praise of the clients, and established a new benchmark for project management in the industry.
        </p>
        <p class="mt-4">Looking ahead, the company will continue sticking to its value and ethics to strengthen and enlarge its market share in the Nigeria. Meanwhile, we are committed to extend our ideas and services to new markets. We sincerely welcome friends all over the world to cooperate in a mutually beneficial way and build a bright tomorrow together.
        </p>
        
        </div>
        
          
            <div class="col-md-4">
              {% if mvp_certificates %}
                {% for certificate in mvp_certificates %}
                  <div class="card">
                    <img class="card-img-top" src="{{ certificate.photo.url }}" alt="Award Winning">
                    <div class="card-body">
                      <h5 class="card-title">Award Winning</h5>
                      <h6 class="text-secondary">{{ certificate.name }}</h6>
                      <p class="card-text">{{ certificate.description }}
                        
                      </p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

          
        
        
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
    <hr>
    <a href="{% url 'projects' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Projects</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Certificates & Awards</h2>
      <div class="row text-center">
        {% if certificates %}
          {% for certificate in certificates %}
        
        <div class="col-md-4">
          <img src="{{ certificate.photo.url }}" alt="" class="card-body">
          <h4>{{ certificate.name }}</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i>
            Certificate</p>
          <hr>
          
      </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No certificates Available</p>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {% if certificates.has_other_pages %}
          <ul class="pagination">
            {% if certificates.has_previous %}
              <li class="page-item">
                <a href="?page={{certificates.previous_page_number}}" class="page-link">&laquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
              </li>
            {% endif %}
            {% for i in certificates.paginator.page_range %}
              {% if certificates.number == i %}
                <li class="page-item active">
                  <a class="page-link">{{i}}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if certificates.has_next %}
              <li class="page-item">
                <a href="?page={{certificates.next_page_number}}" class="page-link">&raquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}