{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Search On Numerious Projects By CBC Global
          </h1>
          <p class="lead">Search from our selection of over 25+ ongoing and complete projects and constructions work.
            Partnering with different State Government agencies and orginizations around the Globe.</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Road, Bridge, etc.)" value="{{ values.keywords }}">
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City" value="{{ values.city }}">
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">State (All)</option>
                    {% for key,value in state_choices.items %}
                        <option value="{{ key }}" 
                        {% if key == values.state %}
                          selected
                        {% endif %}
                        >{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-8 mb-3">
                  <label class="sr-only">Construction Type</label>
                  <select name="type_con" class="form-control">
                    <option selected="true" disabled="disabled">Construction Type</option>
                    {% for key, value in type_con_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <a href="{% url 'projects'%}">
        <h3 class="text-center mb-3">Latest Projects</h3>
      </a>
      <div class="row">
        {% if projects %}
          {% for project in projects %}
            <!-- project 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ project.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">NGN {{ project.price | intword }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ project.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ project.city }}, {{ project.state }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> KM: {{ project.km }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-cog"></i> Type: {{ project.type_con }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-check-circle"></i> Completion: {{ project.completion }}%</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> {{ project.certificate }}</div>
                  </div>
                  
                  <hr>
                  <a href="{% url 'project' project.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}

      <div class="row">
        <div class="col-md-12">
          {% if projects.has_other_pages %}
            <ul class="pagination">
              {% if projects.has_previous %}
                <li class="page-item">
                  <a href="?page={{projects.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in projects.paginator.page_range %}
                {% if projects.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if projects.has_next %}
                <li class="page-item">
                  <a href="?page={{projects.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
        {% else %}
          <div class="col-md-12">
            <p>No Projects Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Among our endless services and products we offer consulting services to several prestegious business partners and associates.
            Inquiries can be made on viewing a project
          </p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Infrastructure Development</h3>
          <p>We have been awarded and completed an execptional number of world class projects all around Nigeria which can be easily viewed on our Featured Listings page 
            </p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Equipment and Services</h3>
          <p>CBC Global Civil & Building Construction NIG LTD has a wide range of equipment and tools for major civil constructions and infrastructure development. 
            </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}